@using Microsoft.AspNetCore.Http
@using PSI_Projektas_Komanda1.Models
@using Newtonsoft.Json;
@{
    int itemsPerPage = Convert.ToInt32(Context.Request.Query["itemsPerPage"].FirstOrDefault() ?? "30");
    int totalPages = (int)Math.Ceiling((double)Model.Count / itemsPerPage);
    int currentPage = Convert.ToInt32(Context.Request.Query["page"]);
    if (currentPage == 0 || currentPage > totalPages)
    {
        currentPage = 1;
    }
    int numItemsOnCurrentPage = Math.Min(Model.Count - (currentPage - 1) * itemsPerPage, itemsPerPage);
    int numRowsOnCurrentPage = (int)Math.Ceiling((double)numItemsOnCurrentPage / 3);
    int bodyHeight = numRowsOnCurrentPage * 1100;
    if (currentPage == totalPages && numItemsOnCurrentPage % 3 != 0)
    {
        bodyHeight -= (3 - numItemsOnCurrentPage % 3) * 1100;
    }
}

<head>
    <link rel="stylesheet" href="~/css/body.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<h1>@ViewData["Title"]</h1>
<div class="container">
    <main role="main" style="height: @bodyHeight px;">
        <div class="div2" style="height=@bodyHeight;">
            @for (int i = (currentPage - 1) * itemsPerPage; i < currentPage * itemsPerPage && i < Model.Count; i++)
            {
                <div class="myDiv">
                    <h2 id="myH2">@Model[i].Name</h2>
                    <div><img src=@Model[i].Picture alt=@Model[i].Model></div>
                    <p>Price: @Model[i].Price</p>
                    <a class="btn-dark" href="#" id="@Model[i].Id" name="@Model[i].Name">Add to Cart</a>
                    <p></p>
                    <a class="btn btn-danger" href="@Url.Action("ItemDetails", "Home", new { name = Model[i].Name})">See details</a>                   
                </div>              
            }
        </div>
        <div class="pagination">
            <span>Page:</span>
            @if (totalPages > 1)
            {
                for (int i = 1; i <= totalPages; i++)
                {
                    <a href="?query=@ViewBag.SearchName&page=@i&itemsPerPage=@itemsPerPage" class="@((i == currentPage) ? "active" : "")">@i</a>
                }
            }
        </div>
        <div class="items-per-page">
                <span>Items per page:</span>
                <button type="button" class="btn @((itemsPerPage == 15) ? "active" : "")" onclick="location.href='?query=@ViewBag.SearchName&page=@currentPage&itemsPerPage=15'">15</button>
                <button type="button" class="btn @((itemsPerPage == 30) ? "active" : "")" onclick="location.href='?query=@ViewBag.SearchName&page=@currentPage&itemsPerPage=30'">30</button>
                <button type="button" class="btn @((itemsPerPage == 45) ? "active" : "")" onclick="location.href='?query=@ViewBag.SearchName&page=@currentPage&itemsPerPage=45'">45</button>
                <button type="button" class="btn @((itemsPerPage == 60) ? "active" : "")" onclick="location.href='?query=@ViewBag.SearchName&page=@currentPage&itemsPerPage=60'">60</button>
        </div>
    </main>
</div>
<script>
    $(document).ready(function () {
        $('.btn-dark').click(function (event) {
            event.preventDefault();
            addToCart(this.id,this.name);
        });
    });

    function addToCart(id, name) {
    $.ajax({
        type: 'POST',
        url: '@Url.Action("AddToCart", "Home")',
        data: { id: id, name: name },
        success: function () {
            alert('Item added to cart!');
        },
        error: function () {
            alert('Error adding item to cart.');
        }
    });
}
</script>





