@model Item
<link rel="stylesheet" href="~/css/ItemDetails.css" asp-append-version="true" />

<div class="myDiv">
    <h2 id="myH2">@Model.Name</h2>
    <div><img src=@Model.Picture alt=@Model.Model></div>
    @foreach (string str in @Model.Print())
    {
            <ul class="myList">
                <li>@str</li>
            </ul>
    }
    <a class="btn-dark" href="#" id="@Model.Id" name="@Model.Name">Add to Cart</a>
</div>
<script>
    $(document).ready(function () {
        $('.btn-dark').click(function (event) {
            event.preventDefault();
            addToCart(this.id, this.name);
        });
    });

    function addToCart(id, name) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddToCart", "Home")',
            data: { id: id, name: name },
            success: function () {
                var message = $('<div>').addClass('popup-message').text('Item added to cart!');
                $('body').append(message);

                setTimeout(function () {
                    message.fadeOut('fast');
                }, 2000);
            },
            error: function () {
                var message = $('<div>').addClass('popup-message').text('Error adding item to cart!');
                $('body').append(message);

                setTimeout(function () {
                    message.fadeOut('fast');
                }, 2000);
            }
        });
    }

</script>
