@model Order
@using Microsoft.AspNetCore.Mvc
@{
    ViewData["Title"] = "Cart";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="min-height:1000px">
    <h1>Order</h1>

    <p class="orderText">ID: @Model.ID</p>

    <p class="orderText">Adress: @Model.Adress</p>
    <p class="orderText">Status: @Model.Status</p>

    <p class="orderText">Items ordered:</p>
    <table class="my-table">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td><img class="product-image" src="@Model.Get(i).Picture"></td>
                        <td>@Model.Get(i).Name</td>
                        <td class = "price">@Model.Get(i).Price.ToString("0.00")</td>
                        <td>
                            @Model.GetAmount(i)
                        </td>
                        <td class = "price">@((Model.Get(i).Price * Model.GetAmount(i)).ToString("0.00"))</td>
                    </tr>
                }
            </tbody>
        </table>
    <p class="orderText">Total: <span class="price">@Model.TotalPrice().ToString("0.00")</span></p>
</body>
</html>
