
<div style="display: inline-block;vertical-align : top; margin-right: 100px;">
    <h2>@Model.Computer.Name</h2>
    <img src="@Model.ComputerImageUrl" alt="Computer image" width="250" height="200">
    <ul>
        <li>Brand: @Model.Computer.Brand</li>
        <li>Model: @Model.Computer.Model</li>
        <li>Processor: @Model.Computer.Processor</li>
        <li>Motherboard: @Model.Computer.Motherboard</li>
        <li>GPU: @Model.Computer.GPU</li>
        <li>RAM: @Model.Computer.Ram GB</li>
        <li>Memory: @Model.Computer.Memory GB</li>
        <li>Power supply wattage: @Model.Computer.PowerSupplyWattage W</li>
    </ul>
</div>

<div style="display: inline-block;vertical-align : top;">
    <h2>@Model.Smartphone.Name</h2>
    <img src="@Model.SmartphoneImageUrl" alt="Smartphone image" width="250" height="200">
    <ul>
        <li>Brand: @Model.Smartphone.Brand</li>
        <li>Model: @Model.Smartphone.Model</li>
        <li>Processor : @Model.Smartphone.Processor</li>
        <li>GPU: @Model.Smartphone.GPU</li>
        <li>RAM: @Model.Smartphone.Ram GB</li>
        <li>Memory: @Model.Smartphone.Memory GB</li>
    </ul>
</div>







