
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ElectricAvenue</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Footer.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/jpg" href="~/css/pictures/icon2.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="~/PSI_Projektas_Komanda1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <div class="firstLine">

            <div class="myLogo box1">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/css/pictures/logo.png" alt="Company Logo" class="logo">
                </a>
            </div>
            <div class="logo-bar box2">
                <div class="container-new">
                    <div class="row ">
                        <div class="col-12">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link-black" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link-black" asp-area="" asp-controller="Home" asp-action="Store">Store</a>
                                        </li>
                                        <li class="nav-item">
                                            <a id="navbarDropdown" class="nav-link-black" asp-controller="Home" asp-action="Categories">Categories</a>
                                            <div id="categories-dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <table id="table-dropdown" class="MyDropTable">
                                                    <thead>
                                                        <tr>
                                                            <th><a class="nav-link" asp-controller="Home" asp-action="Electronics">Electronics</a></th>
                                                            <th><a class="nav-link" asp-controller="Home" asp-action="KitchenAppliances">Kitchen Appliances</a></th>
                                                            <th><a class="nav-link" asp-controller="Home" asp-action="HouseholdAppliances">Household Appliances</a></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Smartphones">Smartphones</a></td>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Fridges">Fridges</a></td>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="VacuumCleaners">Vacuum Cleaners</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Watches">Watches</a></td>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Dishwashers">Dishwashers</a></td>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="WashingMachines">Washing Machines</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Computers">Computers</a></td>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Microwaves">Microwaves</a></td>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Dryers">Dryers</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Tvs">Tvs</a></td>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Stoves">Stoves</a></td>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="AirConditioners">Air Conditioner</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Cameras">Cameras</a></td>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="Ovens">Ovens</a></td>
                                                            <td><a class="nav-link" asp-controller="Home" asp-action="HeatingSystems">Heating Systems</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link-black" asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link-black" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accAndCart box3">
                <div>
                    <a id="currency-toggle">
                        <img class="logo2" src="~/css/pictures/currency.jpg" alt="Toggle Currency">
                    </a>
                    <div class="currency-table">
                        <form method="post" id="currency-form">
                            <select name="currency" id="currency-select" style="display: inline-block; width: 140px;">
                                <option value="eur">EUR</option>
                                <option value="usd">USD</option>
                                <option value="gbp">GBP</option>
                            </select>
                            <button type="submit" class="col-auto btn btn-primary" id="change-currency-btn" style="display: inline-block;">Change currency</button>
                        </form>
                    </div>
                </div>
                <div>
                    <a id="search-toggle">
                        <img class="logo2" src="~/css/pictures/search.png" alt="Toggle Search">
                    </a>
                </div>
                <div class="Search" id="search-form">
                    <form class="search-form me-3" autocomplete="off" method="get" action="@Url.Action("SearchForName", "Home")">
                        <div class="input-group" id="SearchDiv">
                            <input type="text" name="query" id="search-box" class="form-control" placeholder="Search" list="search-results">
                            <datalist id="search-results"></datalist>
                            <button class="btn btn-primary" id="search-button">Search</button>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                            <script>
                                $('#search-box').keyup(function () {
                                    var query = $('#search-box').val();

                                    $.ajax({
                                        url: '@Url.Action("Search", "Home")',
                                        data: { query: query },
                                        success: function (data) {
                                            const datalist = document.getElementById("search-results");
                                            datalist.innerHTML = ""; // clear any previous results
                                            data.forEach((item) => {
                                                const option = document.createElement("option");
                                                option.value = item;
                                                datalist.appendChild(option);
                                            });
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </form>
                </div>
                <div>
                    <a  asp-area="" asp-controller="Home" asp-action="Account">
                        <img src="~/css/pictures/user.png" alt="Account" class="logo2">
                    </a>
                </div>
                <div>
                    <a  asp-area="" asp-controller="Home" asp-action="Cart" >
                        <img src="~/css/pictures/cart.png" alt="cart" class="logo2">
                    </a>
                </div>              
            </div>
        </div>
      
        
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()

            @if (ViewBag.ShowRecentItems == true)
            {
                @Html.Partial("_Recently", ViewBag.RecentItems as Recent)
            }
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div>
            <div class="info-bar">
                <table class="footer-table" style="margin: auto; width: 75%;">
                    <tr>
                        <th>About Us</th>
                        <th>Categories</th>
                        <th>Information</th>
                        <td rowspan="4" style="font-size:20px"><a class="nav-link-black-small" asp-controller="Home" asp-action="Help">Help</a></td>
                    </tr>
                    <tr>
                        <td>KTU project</td>
                        <td><a class="nav-link-black-small" asp-controller="Home" asp-action="Electronics">Electronics</a></td>
                        <td><a class="nav-link-black-small" asp-controller="Home" asp-action="Contact">Contacts</a></td>
                    </tr>
                    <tr>
                        <td>Komanda1</td>
                        <td><a class="nav-link-black-small" asp-controller="Home" asp-action="Kitchen_Appliances">Kitchen Appliances</a></td>
                        <td><a class="nav-link-black-small" asp-controller="Home" asp-action="Orders_and_Returns">Orders and Returns</a></td>
                    </tr>
                    <tr>
                        <td>ElectricAvenue@gmail.com</td>

                        <td><a class="nav-link-black-small" asp-controller="Home" asp-action="Household_Appliances">Household Appliances</a></td>
                        <td><a class="nav-link-black-small" asp-controller="Home" asp-action="About">Page description</a></td>          </tr>
                </table>
            </div>
            <div class="footer-text">
                &copy; 2023 - ElectricAvenue - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        // When hovering over the categories button, show the table
        $('#navbarDropdown').hover(
            function () {
                $('#categories-dropdown').slideDown();
            },
            function () {
                // When mouse leaves the table or the button, hide the table
                $('#categories-dropdown').mouseleave(function () {
                    $('#categories-dropdown').slideUp();
                });
            }
        );
    });
</script>
<script>
   const currencyForm = document.getElementById('currency-form');
const currencySelect = document.getElementById('currency-select');
const changeCurrencyBtn = document.getElementById('change-currency-btn');

// Get the previously selected currency from sessionStorage
const storedCurrency = sessionStorage.getItem('selectedCurrency');
const cookies = document.cookie.split(";"); // Split cookies into an array


console.log(storedCurrency);
if (storedCurrency) {
  currencySelect.value = storedCurrency;
}else{
    // in case there is no selected currency in session, we also check the cookies
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim(); // Remove leading/trailing spaces
            if (cookie.startsWith("SelectedCurrency=")) {
                const cookieCurrency = cookie.substring("SelectedCurrency=".length);
                currencySelect.value = cookieCurrency;
                console.log(cookieCurrency); // Output the value of the cookie
                break;
            }
        }
}

currencyForm.addEventListener('submit', (event) => {
  event.preventDefault(); // prevent default form submission behavior
  const selectedCurrency = currencySelect.value;

        // Store the selected currency in a cookie or in session storage
        document.cookie = `SelectedCurrency=${selectedCurrency};path=/`; // Store in a cookie
        // Or: HttpContext.Session.SetString("SelectedCurrency", selectedCurrency); // Store in session storage


  // Store the selected currency in sessionStorage
  sessionStorage.setItem('selectedCurrency', selectedCurrency);

  return false; // prevent form submission from reloading the page
});

changeCurrencyBtn.addEventListener('click', () => {
  currencyForm.submit(); // directly submit the form
});
</script>
<script>
  function updatePrices() {
    // get the selected currency code
    var currencyCode = document.getElementById("currency-select").value;
    // update all price elements with the currency symbol
    var priceElements = document.querySelectorAll(".price");
    priceElements.forEach(function(element) {
      var price = parseFloat(element.innerText);
      var symbol = getCurrencySymbol(currencyCode);
      element.innerText = price.toFixed(2) + symbol
    });
  }

    function getCurrencySymbol(currencyCode) {
        switch (currencyCode) {
            case "usd":
                return "$";
            case "eur":
                return "€";
            case "gbp":
                return "£";
            // add more currencies as needed
            default:
                return currencyCode;
        }
    }


  // attach the function to the dropdown list
  //document.getElementById("currency-select").onchange = updatePrices;

  // update prices on page load
  updatePrices();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#currency-toggle").click(function () {
        $("#currency-form").toggle();
        $("#search-form").hide();
    });

    $("#search-toggle").click(function () {
        $("#search-form").toggle();
        $("#currency-form").hide();
    });
    $(document).on("click", function (event) {
        if (!$(event.target).closest("#currency-toggle, #currency-form").length) {
            $("#currency-form").hide();
        }
        if (!$(event.target).closest("#search-toggle, #search-form").length) {
            $("#search-form").hide();
        }
    });

</script>

